@model TodoList.Models.TodoListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">To Do</h1>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>@item.Text</li>
        }
    </ul>
    <a class="btn btn-primary" href="/Home/Add">Add</a>

</div>
